


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff758c,#ff7eb3);
    font-family:Arial,sans-serif;
    overflow-y:auto;
}

.page{
    width:90%;
    max-width:520px;
    padding:35px 25px;
    text-align:center;
    background:rgba(255,255,255,.95);
    border-radius:30px;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
    position:relative;
    z-index:2;
}

.heart{
    font-size:65px;
    margin-bottom:15px;
    animation:beat 1s infinite;
}

h1{
    color:#ff3f6c;
    font-size:32px;
    margin-bottom:20px;
}

p{
    color:#555;
    font-size:18px;
    line-height:1.7;
    margin:15px 0;
}

.big{
    color:#ff3f6c;
    font-weight:bold;
    font-size:21px;
}

.box{
    background:#fff0f4;
    color:#d6335c;
    padding:20px;
    border-radius:20px;
    margin:20px 0;
    line-height:1.7;
}

.btn,
button{
    display:inline-block;
    border:0;
    background:#ff3f6c;
    color:white;
    text-decoration:none;
    padding:13px 23px;
    border-radius:30px;
    font-size:16px;
    margin:7px;
    cursor:pointer;
    transition:.3s;
}

.btn:hover,
button:hover{
    transform:scale(1.08);
}

.gallery{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
    margin:20px 0;
}

.gallery img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.gallery img:first-child{
    grid-column:span 2;
    height:220px;
}

audio{
    width:100%;
    margin:20px 0;
}

#love{
    color:#ff3f6c;
    font-size:21px;
    font-weight:bold;
    line-height:1.7;
    margin-top:20px;
}

.floating{
    position:fixed;
    bottom:-40px;
    color:white;
    font-size:25px;
    animation:float 5s linear forwards;
    z-index:1;
}

@keyframes beat{
    0%,100%{transform:scale(1);}
    50%{transform:scale(1.2);}
}

@keyframes float{
    from{
        transform:translateY(0) rotate(0deg);
        opacity:1;
    }
    to{
        transform:translateY(-110vh) rotate(360deg);
        opacity:0;
    }

}

.photo-box img{
    width:100%;
    max-width:350px;
    height:auto;
    display:block;
    margin:auto;
    border-radius:22px;
    box-shadow:0 8px 25px rgba(0,0,0,.2);
}
